<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <style type="text/css">
    nav {
      margin: 10px;
    }

    .creative {
      display: block;
    }
  </style>
</head>
<body>
  <div class="container">
    <header>
      <h1><%= @title %></h1>

      <nav>
        <ul>
          <% @nav.each do |display, link| %>
            <li>
              <a href="<%= link %>"><%= display %>
            </li>
          <% end %>
        </ul>
      </nav>
    </header>

    <div>
      <% @images.each do |image| %>
        <img src="<%= image %>" class="creative">
      <% end %>
    </div>
  </div>
</body>
</html>
